.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container-lg {
    background-color: #333333;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
    padding-top:10px;
    padding-left:10px !important;
    padding-right: 10px !important;
}

.form-control-plaintext {
    width: 100px !important;
    height: 30px;
    border: 1px solid #333 !important;
    border-radius: 5px;
    margin-right:5px;
    font-size:12px !important;
    padding-left: 5px !important;
}

body {
    background-color: #333333 !important;
}

#address {
    width:163px !important;
}

.buyForm {
    padding-top:40px;
}

.sellForm {
    padding-top:40px;
}

.transferForm {
    padding-top:40px;
}

.stakeForm {
    padding-top:40px;
}

.fleft { 
    float:left;
}

.fright { 
    float:right;
}

.clear {
    clear:left;
}

.txDetail {
    width: 100% !important;
    overflow-x: wrap !important;
}

.col-4 {
    margin-bottom:10px;
    float:left;
    padding-left:0px !important;
}

.txBox {
    margin-bottom:10px;
    border-radius:5px;
}

.info {
    min-height:200px;
    max-height:200px;
    margin-bottom:10px;
    width:100%;
    border-radius:5px;
}

.news {
    overflow-y: scroll;
    min-height:420px;
    max-height:420px;
    width:100%;
    border-radius:5px;
}

.txUL {
    padding:0px;
}

.noLI {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
}

.consoleBox {
    border-radius:5px;
}

.console {
    min-height:178px;
    max-height:178px;
    overflow-y: scroll;
    width:100%;
}

.buysell {
    min-height: 220px;
    width:100%;
    border-radius:5px;
}

.wallet {
    min-height:200px;
    max-height:200px;
    margin-bottom:10px;
    width:100%;
    border-radius:5px;
}

.stake {
    min-height:190px;
    max-height:190px;
    margin-bottom:10px;
    width:100%;
    border-radius:5px;
}

.txhistory {
    padding-top:3px;
    max-height: 358px;
    min-height: 358px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    width:100% !important;
}

#responseClass {
    font-size:14px;
}

.ag-cell {
    width:342px !important;
    font-size: 12px;
    cursor: pointer;
}

.ag-paging-panel {
    font-size:10px;
}

.ag-header-viewport {
    background-color: #007bff;
}

.ag-header-cell-text {
    color: #fff;
}

.ag-header-icon {
    color:#fff !important;
}

.btn-primary {
    height: 30px;
    padding-top:0px;
    font-size: 11px !important;
}

.transactionSpace {
    max-height: 140px;
    min-height: 140px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body,html { 
        background-color:#333333;
    }
    .col-4 {
      width: 100% !important;
      float:none!important;
    }
    .buysell {
        margin-right:0px;
    }
    .container-lg {
        transform: 0px;
        margin-top:10px !important;
        height:100%;
    }
    .info {
        width:100%;
    }
    .news {
        margin-right:0px;
    }
    .consoleBox {
        width:100%;
        height:100%;
    }
  }